@media only screen and (max-width:400px){
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0px;
  padding:0px;
  font-family:'Poppins', sans-serif;
}
body{
  background:#1A2167;
}
.heading{
  width:100%;
  height:60px;
  background:#060A3A;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  display:flex;
  align-items: center;
}
.logo img{
  width:200px;
  height: 100px;
  margin-top: 20px;
}

.nav-links{
  margin-right:40px;
}

.nav-links  ul li  {
  display:inline;
  padding-left:20px;
}
.nav-links a {
  color:white;
  text-decoration: none;
  font-size:20px;
  font-weight:500;
  transition:color 0.3s ease;
}
.nav-links a:hover{
  color:#2132E4;
}

.hero{
  width:100%;
  height:95vh;
  background:#1A2167;
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-bottom:1px solid #ccc;
 margin-bottom: 70px;
 position: relative;
}
.hero-left{
  width:90%;
  height:35vh;
margin-top:60px;
display: flex;
flex-direction: column;

position: absolute;
top: 300px;
  
}
.hero-left-first{
  margin-left:0px;
}
.hero-left h1{
  color:white;
  font-size:30px;

  margin-left:0px;
  text-align: center;
 
  
}
.hero-left h2 span, h1 span{
  color:#6BF28C;
  background: transparent;
  font-size:33px;
  border-radius: 10px;
  margin-left: -10px;

  
}
  
.hero-left-sub{
  margin-left:80px;
}
.hero-right{
  width:90%;
  height:20vh;
  font-size:45px;
  margin-left:0px;
}
.hero-right img{
  width:80%;
  height:300px;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 50px;
}


.work{
  width:100%;
  height:auto;
  
}
.work h1{
  color:white;
  margin:20px 0px 20px 50px;
  font-size:25px;
  
  margin-right: 40px;

}


.work .line{
  width:90%;
  height:2px;
  background:#ccc;
  
  margin: auto;
  margin-top: 90px;
  color:#ccc;
  display: flex;

  
}
.text-box{
  margin:90px 0px 0px  60px;
  color:#ccc;
  font-size: 10px
}
.vertical{
  width:3px;
  height: 80px;
  background:#ccc;
  margin: 0px 53px;
  position: relative;
 
}
.vertical .html{
  width: 45px;
  height: 45px;
  margin-left: 19px;
}
.vertical img{
  width: 40px;
  height: 40px;
  position: absolute;
  top:-60px;
  left:-40px;
}
.vertical .css{
  width: 60px;
  height:60px;
  margin-left: 10px;
  margin-top: -15px;
}
.vertical .javascript{
  width: 90px;
}
.vertical-pic{
  width: 25vw;
  height: 10vh;
  margin:80px 20px 0px -30px;
}
.vertical-pic h4{
padding-top: 20px;
font-size:10px;
}
.vertical-pic p{
  color:#ccc;
  font-size:9px;
  margin-top: 10px;
}
.brake{
  width:100%;
  height:1px;
  border:1px solid #ccc;
  margin-top:250px;}
  
  .about{
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  .about-img{
    width:80%;
    height:200px;
    background: #28293E;
    margin-left:20px;
    border-radius:10px;
    margin-top:100px;
  }
  .about-img img{
    width:100%;
    height: 200px;
  }
  .about-des{
    width:90%;
    height:30vh;
    margin-top:10px;
    margin-right:-50px;
    
  }
  .about-des h1 {
    color:white;
    font-size:30px;
    position: absolute;
    top:40px;
  }
  .about-des p{
    color:#ccc;
    padding:10px 40px 0px  0px;
    font-size:13px;
    
  }
  
    
    .about-des a{
      position:relative;
      top:20px;
      left:25%;
      color:white;
      background:#020419;
      padding:10px 15px;
      border-radius:10px;
      text-decoration: none;
      font-size:15px;
    }
   .brake1{
     margin-top:50px;
   }
   .portfolio{
     width:100%;
     height:auto;
     margin-top:100px;
     display:flex;
     align-items: center;
     justify-content: space-around;
   }
   
   .portfolio h1 {
     margin:auto;
     color:white;
     font-size:30px;
   }
   .brake2 {
     border:0.5px solid #ccc;

}